@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Dots:wght@400..700&family=Oswald:wght@200..700&display=swap');
*{
    font-family: Oswald, sans-serif;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: white;
}
body{
    background-image: linear-gradient(#01022d,#000);
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    
}
.container{
     width: 90%;
     height: 600px;
     background-image:linear-gradient(to right,#01022de5,#00000088),url(download.jpg);
     background-position: center;
}
.container:hover{

    background-image:linear-gradient(to right,#01022de5,transparent),url(download.jpg);
}
header{
    display: flex;
    justify-content: space-between;
}
header .logo{
    text-transform:uppercase;
    color: white;
    font-size: 40px;
    padding-left: 10px;
    
}
ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
}   
ul a{
    border-bottom: 2px solid transparent;
    font-size: 20px;

}
ul a:hover{
    border-bottom-color: white;
}
.content{
    color: white;
    width: 50%;
    margin-top: 20px;
    padding: 20px;
}
.content h2{
    font-size: 100px;
    text-transform: uppercase;
}
.content p{
    padding: 20px 0;
    width: 320px;
    letter-spacing: 3px;
}
.content button{
    font-size: 30px;
    padding: 6px 10px;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid transparent;
}
.content button:hover{
    background-color: transparent;
    color: white;
    border-color: white;
}

    